.crypto-ticker {
  &__container {
    margin: 2rem 20rem;
  }

  &__form {
    display: flex;
    align-items: center;
    justify-content: center;

    * {
      margin-right: 1rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 3rem;

    * {
      width: 100%;
    }
  }
}
